*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width:60%;
    }
}

h1{
    background-color: dimgrey;
    display: flex;
    justify-content: center;
    color: antiquewhite;
}

.card{
    background-color: aquamarine;
}

.imgFitMiniatura{
    width: 150px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.borrar-inmueble {
    background-color: rgb(233, 149, 138);
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.borrar-inmueble:hover {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.btn-info{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right:2%;
    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    max-width: 600px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.066);
}

.submenu {
    position: relative;
    top: 10px;
}